/*Carrossel 1 - Banners */

		#crs1 .carousel-cell {	
			margin-right: 10px;
			background: #8C8;
			border-radius: 5px;
		}

		/* cell number */
		#crs1 .carousel-cell:before {
			display: block;
			text-align: center;
			line-height: 200px;
			font-size: 80px;
			color: white;
		}


		
		/* Carrossel em dispositivos muito grandes */
		@media only screen and (min-width: 1200px) {
			#crs1 .carousel-cell {
				width: 100%	/* Alinha à esquerda - Deixar em telas grandes */
			}
			
			#crs1 img {
				max-width: 100%;	/* Deixar em telas grandes */
			}
		}
		

		/* Carrossel em dispositivos grandes */
		@media only screen and (max-width: 1200px) {
			#crs1 .carousel-cell {
					/* Alinha à esquerda - Deixar em telas grandes */
			}
			
			#crs1 img {
				height: 300px;	/* Deixar em telas grandes */
			}
		}
		
		/* Carrossel em dispositivos médios */
		@media only screen and (max-width: 992px) {
			#crs1 .carousel-cell {
					/* Alinha à esquerda - Deixar em telas grandes */
			}
			
			#crs1 img {
				height: 300px;	/* Deixar em telas grandes */
			}
		}
		
		/* Carrossel em dispositivos pequenos */
		@media only screen and (max-width: 768px) {
			#crs1 .carousel-cell {
					/* Alinha à esquerda - Deixar em telas grandes */
			}
			
			#crs1 img {
				height: 250px;	/* Deixar em telas grandes */
			}
		}
		
		
		
/*Carrossel 2, 3 e 4 - Promoções, Mais Vendidos e Novidades */


		.promo-carousel, .maisvend-carousel, .novidades-carousel{
		  margin: auto;
		  width: 65%;			/* Ajustar a responsividade com @media */
		  background: white;
		}


		#crs2 .carousel-cell, #crs3 .carousel-cell, #crs4 .carousel-cell {
			width: 255px;			/* Largura de cada célula do carrossel */
			height: 320px;
			margin-right: 30px;
			background: white;
			border-radius: 5px;
		}

		/* cell number */
		#crs2 .carousel-cell:before, #crs3 .carousel-cell:before, #crs4 .carousel-cell:before {
			display: block;
			text-align: center;
			line-height: 200px;
			font-size: 80px;
			color: white;
		}

		h3 {
			margin-top: 35px;
		}


		/*Posicionamento das setas */

		.promo-carousel .flickity-prev-next-button.previous, .maisvend-carousel .flickity-prev-next-button.previous, .novidades-carousel .flickity-prev-next-button.previous {
		  left: -40px;
		}

		.promo-carousel .flickity-prev-next-button.next, .maisvend-carousel .flickity-prev-next-button.next, .novidades-carousel .flickity-prev-next-button.next {
		  right: -40px;
		}





.bloco {
	border-style: solid;
	border-width: 1px;
	border-color: lightblue;	/* Borda azul por default (exceto para dispositivos grandes especificados em @media */
}


/* Definir especificações válidas para telas grandes - bordas e botões dos carrosséis multi-colunas */

@media only screen and (min-width: 992px) {

	/* Definir bordas em cada bloco dos carrosséis */

	.bloco {
		border-style: solid;
		border-width: 1px;
		border-color: white;	/* Borda branca invisível para fazer diferença quando passar o mouse em cima */
	}
	
	.bloco:hover {
		border-style: solid;
		border-width: 1px;
		border-color: lightblue;
	}
	
	/* Fazer o botão ficar visível somente quando passamos o mouse no card em telas grandes*/
	
	.bloco .btn {
		visibility: hidden;
	}
	.bloco:hover .btn {

		visibility: visible;
	}
	
}